@use '../globalStyle.scss' as *;

.containerContractPageContainerTitle {
  &Title {
    font-size: 20px;
  }

  &Balance {
    display: inline-flex;
    font-size: 18px;
    // @include border-card;
  }
}
