.wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
}

.number {
  text-align: right;
}

.icon {
  display: flex;
  flex-direction: row;

  .vertical {
    flex-direction: column;
  }
}

.tooltipWrapper {
  white-space: nowrap;
}

.hydrogenPlaceholder {
  display: flex;
  width: 30px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
