<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />

    <!-- git -->
    <meta name="commit-version" content="<%= COMMIT_SHA %>" />
    <meta name="branch" content="<%= BRANCH %>" />

    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self';
        script-src 'self' 'unsafe-eval' 'unsafe-inline' https://metrics.cyb.ai;
        style-src 'self' 'unsafe-inline';
        img-src 'self' data: blob: https://*.cybernode.ai https://gateway.ipfs.cybernode.ai https://keybase.io https://s3.amazonaws.com https://robohash.org;
        font-src 'self' data:;
        connect-src 'self' https://*.cybernode.ai wss://*.cybernode.ai https://rpc-osmosis.ecostake.com https://rpc.cosmoshub-4.bronbro.io:443 https://rpc-juno.itastakers.com https://gravitychain.io:26657 https://rpc.mainnet.desmos.network https://rpc.evmos-9001-2.bronbro.io https://keybase.io https://api.github.com https://metrics.cyb.ai https://titan.cybernode.ai https://*.libp2p.io wss://*.libp2p.io https://io.cybernode.ai https://openrouter.ai;
        frame-src https://*.cybernode.ai https://gateway.ipfs.cybernode.ai;
        worker-src 'self' blob:;
        frame-ancestors 'self';
        base-uri 'self';
        form-action 'self';
      "
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
    />
    <meta name="theme-color" content="#000000" />

    <title>cyb: your immortal robot for the great web</title>
    <meta
      name="description"
      content="
    upload your brain into planet scale superintelligence"
    />

    <meta
      property="og:title"
      content="cyb: your immortal robot for the great web"
    />
    <meta
      property="og:description"
      content="upload your brain into planet scale superintelligence"
    />
    <meta property="og:image" content="/images/preview.png" />

    <script>
      if ('<%= NODE_ENV %>' === 'production') {
        const commitSHA = document.querySelector(
          'meta[name="commit-version"]'
        ).content;

        if (!commitSHA) {
          console.error('Commit SHA is not defined');
        } else {
          console.info(
            `%c Commit of build: ${commitSHA}`,
            'color: #36d6ae; font-size: 20px; font-weight: bold;'
          );
          console.info(
            `%c https://github.com/cybercongress/cyb/commit/${commitSHA}`,
            'font-weight: bold; font-size: 16px;'
          );
        }
      }
    </script>

    <script>
      window.cyb = {};
    </script>
  </head>
  <body>
    <div id="root">
      <div id="bootloader-container" style="visibility: hidden">
        <img class="logo-container" />
        <progress id="progressbar" value="0" max="1"></progress>
        <div id="progress-data"></div>
      </div>
    </div>
    <script>
      const script = document.createElement('script');
      script.src = 'https://metrics.cyb.ai/js/script.js';
      script.setAttribute('data-domain', location.host);
      script.defer = true;
      document.body.appendChild(script);
    </script>
  </body>
</html>
